---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Astro.js/Tailwind CSS Powered Blog</h2>

  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
